                    /*Navigation*/
nav{  
height: 40px;
}

.grayNav{
background-color: ghostwhite;
border-bottom: solid black 1px;
}

.social li{
display: inline;
padding: 5px;
position: relative;
top: 7px;
font-size: 20px;
color: black;
}

.social li a:hover{
color: coral;
}

#home {
position:relative;
text-align:center;
background-color: LightBlue;
color:white;
}

.display-1{
height: 300px; 
}

.waves {
position:relative;
width: 100%;
height:15px;
margin-bottom:-7px; 
min-height:100px;
max-height:150px;
}
            /* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/* Main title */
#home h1{
font-family: 'Nothing You Could Do', cursive;   
position: relative;
top: 100px;
color: darkslategray;
}

/* Banners */
.banner{
color: aliceblue;
text-align: center;
background-color: gray;
height: 50px;
width: 100%;
font-family: 'Montserrat', sans-serif;
padding: 10px;
}

/*h3, h4, h5, h6*/
.subtitle{
text-align: center;
text-decoration: underline
}

#about{
padding: 10px 10%;
font-size: 17px;
font-family: 'Montserrat', sans-serif;
}

#about ul{
text-align: center;
}

span{
text-transform: capitalize;
font-weight: bold;
}

.stack li{
display: inline;
padding: 0px 5px;
font-size: 18px;
}

.gray{
color: darkslategrey;
}

.blue{
color: blue;
}

.red{
color: red;
}

#skills li{
display: list-item;
text-align: left;
}

#exp li{
display: block;
}
        /* Portfolio Section */
#samples{
font-size: 17px;
text-align: center;
font-family: 'Montserrat', sans-serif;
}

.link{
border: solid 1px;
border-radius: 5px;
padding: 2px;
background-color: aliceblue;
} 
        /* Preview Window */
#preview{
width: 100%;
height: 300px;
margin: 1% 1%;
border: solid 1px black;
}
        /* Examples */
#links li{
width: 100%;
list-style: none;
border: black dotted 1px;
margin: 10px 0px;
padding: 5px;
text-align: center;
font-size: 15px;
font-family: 'Montserrat', sans-serif;
}

.galla{
margin: 0px;
text-align: center;
}

.pictures{
text-align: center;
align-content: center;
}

.gallery{
width: 100%;
height: 150px;
margin-bottom: 5px;
border: outset gray 2px;
border-radius: 20px;
}

.gallery:hover{
border: outset coral 2px;
}

#GalleryPage{
background-color: aliceblue;    
}

.prodGallery{
width: 70%;
height: 190px;
margin-bottom: 10px;
border: double #4d1a00 4px;
border-radius: 5px;
}

#contact{
font-size: 17px;
font-family: 'Montserrat', sans-serif;
}

#contact li{
list-style: none;
text-align: center;
}    
            /* Footer */
footer{
background-color: gainsboro;
text-align: center;
font-family: 'Montserrat', sans-serif;
}

.carousel{
display: none;
}
								/* Mobile View*/
@media (max-width: 450px) { 
    
.waves {
height:90px;
min-height:40px;
}

.display-1{
height: 300px;    
}

#home{
height: 400px;       
}    
    
#about{
padding: 10px;    
}
    
.carousel{
display: block;
height: 330px;
}	
	
.carousel img{
width: 100%;
height: 200px;
}
	
.carousel-control-prev, .carousel-control-next{
background-color:hsla(9, 100%, 64%, 0);
}

.caption{
width: 100%;
margin-left: 0%;
text-align: center;
padding: 2%;
}

#links{
display: none;
}

#collapsibleNavbar{
background-color: ghostwhite;
border: solid 1px black;
border-top: none;
position: relative;
top: 2px;
}
    
nav{
background-color: ghostwhite;
height: 55px;
}      
        /* Main title */
#home h1{
font-size: 50px;
}
    
#about,#samples,#contact{
font-size: 14px;
}

.stack{
text-align: center;
margin: 0px;
}

.stack li{
display: block;
list-style: none;
}
    
#exp{
margin-left: -15%;       
}       
        /* Preview Window */
#preview{
display: none;        
}
    
.link{
display: block;
width: 20%;
margin: 0px 40%;
text-align: center;
} 

.gallery{
height: 90px;
width: 100%;
border-radius: 1px;
border: none;
}
    
.prodGallery{
width: 100%;
height: 190px;
}

.col-3{
padding: 2px !important;      
}
    
        /* Examples */
#links li{
width: 90%;
margin: 3% 0%;
}
    
#contact{
padding: 10px 5%;   
}

#contact ul li{
padding: 0px;
}
}